---
image: "rust:latest"

variables:
  STORAGE_DRIVER: vfs
  BUILDAH_FORMAT: docker
  BUILDAH_ISOLATION: chroot

stages:
  - .pre
  - test
  - build

services:
  - redis:latest

debug:
  stage: .pre
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
  tags:
    - docker
  script:
    - rustc --version
    - cargo --version
    - rustup --version

lint:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
  tags:
    - docker
  script:
    - rustup component add rustfmt
    - rustup component add clippy
    - cargo fmt --check
    - cargo clippy -- -D warnings

test:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TITLE !~ /^Draft/
    - if: $CI_COMMIT_TAG
  tags:
    - docker
  script:
    - cargo test --verbose

build-image:
  stage: build
  rules:
    - if: "$CI_COMMIT_TAG"
  tags:
    - docker
  needs:
    - test
    - lint
  image:
    name: quay.io/buildah/stable
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | buildah login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - buildah build --platform linux/amd64 -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG .
    - buildah push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
