---
image: "rust:latest"

stages:
  - .pre
  - test
  - build

services:
  - redis:latest

debug:
  stage: .pre
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
  tags:
    - docker
  script:
    - rustc --version
    - cargo --version
    - rustup --version

lint:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
  tags:
    - docker
  script:
    - rustup component add rustfmt
    - rustup component add clippy
    - cargo fmt --check
    - cargo clippy -- -D warnings

test:
  stage: test
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' && $CI_MERGE_REQUEST_TITLE !~ /^Draft/
    - if: $CI_COMMIT_TAG
  tags:
    - docker
  script:
    - cargo test --verbose


build-image:
  stage: build
  rules:
    - if: '$CI_COMMIT_TAG'
  tags:
    - docker
  needs:
    - test
    - lint
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}"
